<!-- <!DOCTYPE html>
<html>

<body>

<div class="blogs content">
    <h1>helloo</h1>

    <script> 
        const trashcan = document.querySelector('a.delete');  
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/tasks/${trashcan.dataset.doc}`; //${trashcan.dataset.doc} is the id
          
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => response.json()) //response.json() returns A Promise that resolves to a JavaScript object.
          .then(data => window.location.href = data.redirect) //data is json() //using redirect command in frontend(functioning in the backend)
          .catch(err => console.log(err));   //data.redirect is nothing but /tasks
        });
        
      </script>
</div>
</body>
</html> -->



<!-- function App() {
  return (
    <div className="App">
      <Navbar />
      <div className="content">
        <Home />

      </div>
    </div>
  );
}

export default App; -->